
Exercicio_01/obj/project.assets.json
Exercicio_01/obj/project.nuget.cache
Exercicio_01/obj/project.assets.json
Exercicio_01/obj/Exercicio_01.csproj.nuget.g.props
Exercicio_01/obj/Exercicio_01.csproj.nuget.dgspec.json
Exercicio_01/obj/Debug/netcoreapp3.1/Exercicio_01.csprojAssemblyReference.cache
Exercicio_01/obj/Debug/netcoreapp3.1/Exercicio_01.assets.cache
